<div id="<%= dom_id user %>">
  <p>
    <strong>Name:</strong>
    <%= user.name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= user.last_name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= user.email %>
  </p>

  <p>
    <strong>Contact number:</strong>
    <%= user.contact_number %>
  </p>

  <p>
    <strong>Blood group:</strong>
    <%= user.blood_group %>
  </p>

  <p>
    <strong>Company name:</strong>
    <%= user.company_name %>
  </p>

</div>
