
<p style="color: green"><%= notice %></p>

<h1>Users</h1>
<% if user_signed_in? %>
  <%= button_to "Sign Out", destroy_user_session_path, method: :delete, class: "btn btn-danger" %>
<% end %>

<table id="users">
  <thead>
    <tr>
      <th>Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Contact Number</th>
      <th>Blood Group</th>
      <th>Company Name</th>
      <th>Show</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr id="<%= dom_id user %>">
        <td><%= user.name %></td>
        <td><%= user.last_name %></td>
        <td><%= user.email %></td>
        <td><%= user.contact_number %></td>
        <td><%= user.blood_group %></td>
        <td><%= user.company_name %></td>
        <td><%= link_to "Show", user %></td>
      </tr>
    <% end %>
  </tbody>
</table>

